In [3]:
# we are calculating the multiple linear regression of the revenue and the
# most effective features (budget, cast_popularity)

import pandas as pd
import numpy as np

df = pd.read_csv("movies_cleaned.csv")
df.head()

,movie_id,release_date,budget,revenue_worldwide,runtime,cast_popularity_mean,cast_popularity_max,director_popularity,original_language,imdb_rating,imdb_votes,mpaa_rating,domestic_box_office,rotten_tomatoes_score,metacritic_score,season
0,8193,2004-06-11,400000.0,46118097.0,95,1.358067,2.4790,1.3126,en,7.0,251071.0,PG,44540956.0,72.0,64.0,Summer
1,663558,2021-02-06,35000000.0,70000000.0,117,0.865500,1.3269,0.5921,zh,6.8,4451.0,TV-14,0.0,80.0,58.0,Winter
2,614409,2021-02-12,35000000.0,84058132.0,115,3.196233,5.6727,0.2037,en,6.3,37385.0,TV-14,0.0,79.0,65.0,Winter
3,12,2003-05-30,94000000.0,940335536.0,100,1.427567,1.8011,1.2339,en,8.2,1185437.0,G,380843261.0,99.0,90.0,Spring
4,16,2000-09-01,12500000.0,40061153.0,140,1.903567,2.5962,2.2434,en,7.9,122419.0,R,4184036.0,69.0,63.0,Fall

In [ ]:
# (budget, cast_popularity_mean) -> revenue_worldwide
# rev = b1.bud + b2.cpop

def MLR(X, Y):
    # B = (XT.X)'.XT.Y

    XT = X.T
    XT_X = XT @ X
    XT_X_inv = np.linalg.pinv(XT_X)

    return XT_X_inv @ XT @ Y

# X = [[1, bud1, cpop1],
#      [1, bud2, cpop2],
#      [1, bud3, cpop3]]
# Y = [[rev1],
#      [rev2],
#      [rev3]]

revs = df['revenue_worldwide'].values
buds = df['budget'].values
cpops = df['cast_popularity_mean'].values

n = df.shape[0]

X = np.ones((n, 3))
for i in range(n):
    X[i][1] = buds[i]
    X[i][2] = cpops[i]

Y = np.ones((n, 1))
for i in range(n):
    Y[i][0] = revs[i]

b = MLR(X, Y)
b

array([[4.84906302e+05],
       [3.12342482e+00],
       [3.14216795e+06]])

In [ ]:
# Therefore: rev = 484906.302 + 3.12342482 bud + 3142167.95 cpop